 {% load static %}


<html>

<head>
    <link rel="stylesheet" href="{% static 'css/c1.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <title>
        Homepage
    </title>
</head>

<body>
    <div class="Texts">
        <strong>Thanks for joining</strong>
        <p> we receive your email and we get in touch with you in few hourse </p>
        <p>Goodbye Dear </p>
    </div>
    <div></div>
    </div>
</body>

</html>