body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #C0DEFF;
}

.Texts {
    font-size: 35px;
    text-align: center;
}

@media only screen and (max-width:490px) {
    body {
        font-family: 'Ubuntu', sans-serif;
        background-color: #1C315E;
    }
    .Texts {
        color: wheat;
        font-size: 20px;
        text-align: center;
    }
}